.video-1 {
  background-color: #222;
  width: 100%;
  height: 100%;
  position: relative;
}

.video-2 {
  background-color: #222;
  width: 50%;
  height: 100%;
  position: relative;
}

.videos {
  display: flex;
  flex-direction: row;
  height: calc(100% - 5rem);
  width: 100%;
}

.video-element {
  width: 100%;
  height: 100%;
}

.reverse {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.height-50 {
  height: 50%;
  width: 100%;
}

.flex-direction-column {
  flex-direction: column !important;
}

.top-row {
  height: 15%;
  width: 100%;
}

.bottom-row {
  height: 85%;
  width: 100%;
}

.user-info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white !important;
}

.disabled-icon {
  color: #f5f1f170 !important;
  pointer-events: none;
  cursor: not-allowed !important;
}

.media-controls {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  height: 5rem;
  background-color: #222;
}
